body{
    margin: 0px;
}
form{
    margin: auto;
    width: 30%;
    border: 1px solid aquamarine;
    margin-top: 100px;
}
.alinha{
    display: inline-block;
    margin-top: 5px;
    
}
input[type="text"]{
    width: 160px;
    margin-top: 5px;
}
.resposta{
    font-weight: bold;
    font-size: 20px;
}
.botao{
    
}